$black: hsl(0, 0%, 0%);
$blueLight: hsl(209, 91%, 56%);
$blue: hsl(197, 89%, 36%);
$gold: gold;
$grey: #888888;
$green: hsl(98, 92%, 28%);
$red: hsl(357, 95%, 54%);
$white: hsl(0, 0%, 100%);

$border: $black;
$borderActive: $gold;
$boxShadow: $grey;
$negative: $red;
$positive: $blueLight;
$textDark: $black;
$textLight: $white;
