@import "../../assets/colours.scss";

table {
  border-spacing: 0;
  text-align: left;
  width: 100%;
}

caption {
  color: $textLight;
  padding: 0 16px 8px 0;
  text-align: inherit;
}

thead {
  background: $black;
}

tbody {
  overflow: scroll;

  tr {
    transition: 0.1s ease-out;
    &:hover {
      box-shadow: 0 0 4px $boxShadow;
      transform: scale(1.005);

      td,
      th {
        border-color: $borderActive;
      }
    }
  }
}

th,
td {
  border-collapse: collapse;
  white-space: nowrap;
}

td,
button {
  border: 1px solid $border;
  color: $textDark;
  padding: 8px 16px;

  @media (max-width: 960px) {
    padding: 4px 8px;
  }
}

th {
  padding: 0;

  button {
    background: transparent;
    color: $textLight;
    cursor: pointer;
    font-size: inherit;
    margin: 0;
    text-align: inherit;
    width: 100%;

    .icon-wrapper {
      align-items: center;
      display: flex;
      transition: all 0.1s ease-out;
    }

    svg {
      fill: $white;
      height: 24px;
      margin-left: 8px;
      width: 24px;

      @media (max-width: 960px) {
        height: 20px;
        width: 20px;
      }

      @media (max-width: 768px) {
        height: 16px;
        width: 16px;
      }
    }

    &:hover,
    &:focus {
      border-color: $borderActive;
      outline: none;

      svg {
        fill: $borderActive;
        transform: scale(1.075);
      }
    }
  }
}

.inline-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.assetClass-Credit {
  background-color: $green;
}

.assetClass-Equities {
  background-color: $blue;
}

.assetClass-Macro {
  background-color: $white;
}

.price-negative {
  background-color: $negative;
}

.price-positive {
  background-color: $positive;
}
